/* navigation */

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
}



.current-page {
    border-bottom: 1px solid #707070;
}

.current-page:hover, .current-page:focus{
    color: #707070;
}